:root {
    --primary-color: aqua;
    --secondary-color: white;
    --accent1-color: #262653;
    --accent2-color: black;
    --heading-font: "Times New Roman", "Georgina", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    margin: 1rem auto;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
}

header img {
    border-radius: 50%;
    filter: drop-shadow(0 0 20px rgba(0, 150, 255, 0.9));
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff
}

article {
    text-align: center;
    position: absolute;
    bottom: 10px;
    background-color: var(--accent1-color);
    color: #fff
}

.hero article {
    position: absolute;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid aqua;
    margin: 10px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section h2 {
    display: grid;
    grid-column: 1/4;
}

.section img {
    max-width: 250px;
    max-height: 300px;
    margin-top: 25px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content:space-around;
}

.adventure h2
{
    grid-column: span 5;
}

.miniimage img {
    width: 100%;
    height: auto;
}

.miniimage {
    margin: 5px;
    padding: 5px;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border-radius: 5px;
    width: 120px;
    max-height: 150px;
    display: grid;
    place-items: center;
}

footer {
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    padding: 10px;
    display: grid;
    grid-template-columns: 75% 1fr;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.second a {
    color: var(--secondary-color);
}

.section p {
    text-align: center;
}

.trips a {
    color: var(--primary-color);
}

main section nav {
    text-align: center;
    border: var(--primary-color) solid 3px;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--accent1-color);
    letter-spacing: 1px;
}

th, td {
    border: 1px solid var(--accent1-color);
    padding: 8px 12px;
    text-align: center;
}

.intenseblue {
    color: var(--primary-color);
    opacity: 1;
}

.fallingfaster {
    opacity: 1;
}

.goldenwaters {
    color: goldenrod;
    opacity: 1;
}