:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #262653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgina", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

