* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

aside {
    width: 20em;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1 */
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 90px;
    left: 67px;
}

aside p {
    margin: 1rem;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1.5rem 0 1rem 1rem;
    
}

p {
    margin: 3rem;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}